/* Global CSS */
html {
  font-size: 62.5%;
}

.site-width {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2.5rem;
}

.narrow-site-width {
  margin: 0 auto;
  max-width: 70rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

a,
a:hover,
a:visited {
  color: #37D483;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Raleway;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
  font-size: 1.5rem;
  font-family: Raleway;
  font-weight: 300;
}

#accordion {
    width: 100%;
}

form {
  font-family: Raleway;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

form input {
  border-radius: .4rem;
  border: 1px solid #757575;
  width: 100%;
  margin-top: 1rem;
  height: 4rem;
  font-family: Raleway;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  outline: 0;
}

form input.error {
    border-color: #ff4141 !important;
}

form input.button {
  border: medium none;
  background-color: rgb(42, 40, 50);
  color: white;
  width: 100%;
}

.ui-accordion-header.ui-state-default.ui-accordion-icons {
    border-color: #757575;
    color: #757575;
    background: white;
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    outline: 0;
    margin-top: 1.5rem;
}

.ui-widget input {
    font-family: Raleway;
    font-size: 2rem;
}

#accordion .ui-accordion-content {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

/* Notifications */
.notification {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  animation: fadein 1s, expanddown .7s;
  position: relative;
}

.notification.error {
    background-color: #FF4141;
}

.notification.success {
    background-color: #37D483;
}

.notification.general {
    background-color: #A2A7A6;
}

/* header */
nav {
    width: 100%;
    background-color: #2A2832;
    height: 8rem;
}

nav .site-width {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 a span {
    display: none;
    color: white;
    font-weight: 200;
}

nav .menu {
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
}

nav .menu li {
    height: 100%;
}

nav .menu li a {
    font-size: 2.5rem;
    font-weight: 200;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

nav .menu .main-menu-item {
    display: none;
}

/* Login */
#login {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}


/* Home */
#index .wrapper {
    padding: 5rem 0;
}

#index .narrow-site-width {
    padding: 0;
}

#index form input.button {
    height: 10rem;
    font-size: 4rem;
    background-color: #37D483;
    border-radius: 0;
    font-weight: 400;
}

/* Users */

#users {
    margin: 0 auto;
}

#users h1 {
    width: 100%;
}

/* Create Users */

#users .create-user {
    padding: 1rem 0;
    padding-top: 5rem;
    background-color: #E4E4E4;
}

/* Edit Users */
#users .edit-users {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#users .edit-user {
    width: 95%;
    padding: 2rem;
}

#users .edit-user .button.update-user.disabled {
    background-color: #A2A7A6;
}


#users form input.date-time {
    width: 100%;
}

#users form div {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

#users form div input {
    margin: 0;
    margin-right: .3rem;
    width: auto;
    height: auto;
}

#users form div span {
    font-weight: 400;
}

#users form div input:last-of-type {
    margin-left: 2rem;
}

#users .ui-accordion-header .ui-accordion-header-icon {
    display: none;
}

/* Form Date Animations */
#users form .hidden {
    display: none;
}

#users form .visible {
    animation: fadein 3s;
    animation: fadedown 1s;
    display: block;
}

/* Trash Icon */
#users h3.ui-accordion-header {
    display: flex;
    justify-content: space-between;
}
#users h3.ui-accordion-header i {
    padding-left: 1rem;
}

#users h3.ui-accordion-header i.fa-trash-o:hover {
    color: #FF4141;
}

@media screen and (min-width: 800px) {
    /* Global CSS */
    h1 {
        font-size: 4.3rem;
    }

    form input {
        width: 49%;
    }

    /* Navigation Menu */

    nav h1 a span {
        display: inline-block;
    }

    nav .menu .main-menu-item {
        display: inline-block;
    }

    nav .menu li a:hover {
        background-color: #37D483;
    }

    nav .menu li a i {
        margin-right: 1rem;
    }

    /* Users */
    #users .create-user {
        padding: 8rem 0;
    }

    #index .wrapper {
        background-color: #E4E4E4;
    }

    #index .wrapper form input {
        border-radius: .4rem;
    }

}

@keyframes fadein {
	from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadedown {
	from { margin-bottom: -5rem; }
}

@keyframes expanddown {
    from { height: 0;}
}
