{% extends "base.html" %}
{% block body %}
<section id="users" class="narrow-site-width">
	<form action="{{ url_for('users') }}" method="post" >
	   	<input type="text" class="textinput" placeholder="Username" name="username">
	   	<input type="password" class="textinput" placeholder="Password" name="password">
	   	<input type="checkbox" name="adminuser"> Admin User
	    <input type="submit" class="button" value="Add User">
	</form>
	<ul class="entries">
	  {% for entry in entries %}
	    <li>
	    	Username: {{ entry.username }}  | {% if entry.admin == True %} AdminUser {% endif %}
	    </li>
	  {% endfor %}
	 </ul>
</section>
{% endblock %}
