{% extends "base.html" %}
{% block body %}
<section id="users" class="narrow-site-width">
	<form action="{{ url_for('users') }}" method="post" >
		<input type="text" class="textinput" placeholder="Username" name="username">
		<input type="password" class="textinput" placeholder="Password" name="password">

		<div class="form-option">
			<input type="checkbox" name="adminuser">
			<span>Admin</span>
			<input class="tmpuser"type="checkbox" name="tempuser">
			<span>Temporary</span>
		</div>
		<input class="date-time hidden" type="date" value="2010-12-16;">
	    <input type="submit" class="button" value="Add User">
	</form>

	<script>
		$(function() { $( "#accordion" ).accordion({
			active: false,
    		collapsible: true
		});});
	</script>
	<div id="accordion">
	  {% for user in users %}
	    	<h3>Username: {{ user.username }}</h3>
			<div>
				<form class="edit-user" action="{{ url_for('edituser') }}?user={{ user.id }}" method="post">
					<input type="text" class="textinput" placeholder="{{ user.username }}" name="username">
					<input type="text" class="textinput" placeholder="New Password" name="password">
					<div>
						<input type="checkbox" name="adminuser" {% if user.admin == True %} checked {% endif %}>
						<p>Admin User</p>
					</div>
					<input type="submit" class="button" value="Update User">
				</form>
			</div>
	  {% endfor %}
	</div>
</section>

<script>
$('.tmpuser').change(function(){
    if($(this).is(":checked")) {
        $('.date-time').addClass("visible");
		$('.date-time').removeClass("hidden");

    } else {
        $('.date-time').addClass("hidden");
		$('.date-time').removeClass("visible");
    }
});
</script>


{% endblock %}
